<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calculadora básica</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <div class="inputs">
      <ion-input type="number" [(ngModel)]="valor1" placeholder="Introduce un numero">
      </ion-input>
      <ion-input type="number" [(ngModel)]="valor2" placeholder="Introduce un numero">
      </ion-input>
    </div>


    <div class="botones">

      <ion-button expand="block" (click)="calcularSuma()">Sumar</ion-button>


      <ion-button expand="block" (click)="calcularResta()">Resta</ion-button>

      <ion-button expand="block" (click)="calcularDivision()">Division</ion-button>

      <ion-button expand="block" (click)="calcularMultiplicacion()">Multiplicacion</ion-button>

      <ion-button expand="block" (click)="reinicia()">Hacer otro calculo</ion-button>

    </div>

    <ion-card>
      <ion-card-content *ngIf="(valor1!=null&&valor2!=null)&& (resultado!=NaN)">
        El resultado es {{resultado}}
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>